* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  margin: auto;
  max-width: 800px;
  
}

.title {
  padding-top: 96px;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
  padding-left: 24px;
  max-width: 416px;
}

.emphasis {
  color: #009966;
}

header {
  height: 50vh;
  padding: 24px;
}

main {
  background-color: #666666;
  height: 50vh;
  padding-top: 72px;
  padding-bottom: 66px;
}

main .card {
  padding: 24px;
  background-color: white;
}

.indented-heading {
  background: #FFBF00;
  /* width: 50%; */
  padding-left: 24px;
  margin-left: -34px;
  border-bottom: solid #CC9900 8px; 
}

